@import "./bootstrap/css/bootstrap.min.css";

.table-container {
    width: 100%;
    padding-top: 3%;
    overflow:  scroll;
}

.block-table {
    table-layout: auto;
    width: 100%;
}

.block-elem td{
    overflow:  hidden;
}

